body > * {
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, Geneva;
/*
      -webkit-touch-callout: none; /* iOS Safari
        -webkit-user-select: none; /* Safari
         -khtml-user-select: none; /* Konqueror HTML
           -moz-user-select: none; /* Old versions of Firefox
            -ms-user-select: none; /* Internet Explorer/Edge
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox
    }
*/
}

body {
	justify-content: center;
}

nav {
	display: flex;
	justify-content: center;
	background-color: #3448CE;
	position: sticky;
	top: 0px;
	z-index: 11;
	width: 100%
}

.headerImage {
    display: flex;
    position: relative;
    top: 56px;
	height: 400px;
	width: 100%;
	background-image: url("../images/home/header/bg.png");
}

.second {
	position: absolute;
	height: inherit;
	left: 25%;
	z-index: 3;
}

.first {
	position: absolute;
	right: 0%;
	height: inherit;
	z-index: 3;
}

.home__title{
    text-align: center;
    margin-top: 55px;
}

.logo {
	position: absolute;
	left: 25%;
	width: 64px;
	height: 64px;
	background-image: url("images/pongHr.png");
}



.ForHr{
	display: flex;
    justify-content: space-between;
    align-self: center;
}


.ForHr > hr{
	border: 0;
	height: 4px;
	width: 46%;
	background-image: linear-gradient(to left, red, blue);
	margin-top: 2%;
}

.ForHr > img{
	border: 0;
	height: auto;
	width: 4%;
	margin: 5px;
}

.catalog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog__item{
    width: 310px;
    height: 450px;
    margin: 20px 1px 0px 1px;
    border-radius: 25px;
    padding: 10px;
}

.catalog__item:hover{
    box-shadow: 0 0 20px black;
    transition: 0.25s;
}

.product{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product__image{
    display: block;
    max-width: 290px;
    max-height: 220;
    margin: 0 auto 15px;
    border-radius: 10px;
    object-fit: cover;
}

.product__title{
    margin: 0 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}

.product__description{
    margin: 0;
    color: #585858;
    color: white;
}

.product__content{
    margin-bottom: 25px;
    flex-grow: 1;
}

.product__currency{
    color: white;
}

.product__price-value{
    font-family: 'Montserrat' ,sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
}

.product__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__btn{
    background: #F52B2B;
    width: 200px;
    padding: 14px 20px;
    border: 0px;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
}

.product__btn:hover{
    background: #FF0000;
    box-shadow: 0 0 25px #FF2525;
    transition: 0.5s ease;
}

.product__btn > a{
    color: #F3F3F5;
    text-decoration: none;
    font-size: 15px;
}

.section-about{
    background: linear-gradient(to top, #2b2b2b, #1f1f1f);
    color: #fff;
    position: relative;
    height: 500px;
    margin-top: 50px;
    padding: 0;
    max-width: 100%;
    display: flex;
}

.section-about__container{
    position: relative;
    left: 0;
    display: flex;
    margin: 0;
    width: 50%;
    justify-content: flex-end;
}

.section-about__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: flex;
}

.section-about__content{
    width: 624px;
    text-align: right;
    direction: rtl;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-about__title{
    margin-bottom: 30px;
    margin-top: 80px;
    font-size: 40px;
    text-align: center;
    font-family: lobster;
}

.section-about__text{
    text-align: right;
    font-size: 23px;
    line-height: 1.67;
    margin: 0;
    padding-right: 80px;
}



.about-BssImg {
    position: relative;
}

.about-BssImg:before {
    position: absolute;
    content: '';
    left: -30px;
    top: -30px;
    border: 10px solid #F9E79F;
    width: 80%;
    height: 100%;
}


.about-BssImg img {
    width: 80%;
}

.about-BssText {
    padding-top: 20%;
    margin-left: 15px;
    text-align: right;
}

.about-BssText h2 {
    text-align: right;
    color: #fff;
    font-family: lobster;
    font-size: 50px;
}

.about-BssText p {
    font-size: 18px;
    color: #ddd;
    direction: rtl;
}

.deploys {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    direction: rtl;
    text-align: right;
}

.course_class {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.suggest__one {
    height: 500px;
    width: 40%;
    background-color: #2d3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest__one > h1 {
    color: #f4f9fd;
}

.suggest__one > h1 > span {
    color: #c92d1e;
}

.chclass{
    width: 60%;
}

.suggest_head{
   width: 95%;
   height: 20%;
   margin-top: 2%;
   display: flex;
   margin-right: 2%;
   flex-direction: row;
}

.suggest_head > .fas{
    color: #e6f8f8;
    background-color: #334760;
    width: 7%;
    height: 80%;
    font-size: 200%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggest_head > span {
    display: inline-block;
    color: #c06761;
    font-size: 200%;
    margin-right: 2%;
    margin-top: 3%;
}
.course_class > div> h4 {
    color: #324763;
    margin-right: 2%;
}

.last_h4 {
    margin-top: 2%
}

.course_class > div> h5 {
    color: #7c7c7c;
    margin-right: 4%;
    width: 70%;
}

.barriers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barriers > div {
    height: auto;
    min-width: 20%;
}

.barriers > div > h5:first-child {
    color: #324763;
}

.adult_class {
    width: 50%;
}

.activity_class {
    width: 50%;
}

.private_class {
    width: 60%
}

.suggest_two {
    width: 40%;
    background: #ea4b3f;
}

.suggest_top {
    display: flex;
    padding: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.suggest_top > h1:first-child {
    font-size: 4em;
    color: #bb2315;
}

.suggest_top > h1:last-child {
    color: #fffdf9;
}

.contact-social-icons{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.contact-btn{
    width: 10%;
    background-color: red;
}

.contact-btn:before{
    content: "";
    display: block;
    padding-top: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
classbody {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
classbody >
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.social-icons li {
    vertical-align: top;
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.social-icons > li > a > i {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.fa-facebook-f {
    display: flex;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    font-size: 300%;
}
.fa-facebook-f:hover {
    background-color: #3d5b99;
}
.fa-whatsapp {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    font-size: 300%;
}
.fa-whatsapp:hover {
    background-color: #35e842;
}
.fa-phone {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    font-size: 300%;
}
.fa-phone:hover {
    background-color: #eb8231;
}

.col-lg-4, .col-lg-6 {
    width: 50%;
}

.adult-id{
    position: absolute;
}

.about-boss{
    background: #131f33;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.about-boss2{
    display: none;
}

.about-boss-id{
    position: absolute;
    height: 20px;
    top: 740px;
}

.chclass-id{
    position: absolute;
    height: 20px;
    top: 1700px;
}

.adult-id{
    position: absolute;
    height: 20px;
    top: 2000px;
}

.activity_class-id{
    position: absolute;
    height: 20px;
    top: 2000px;
}

.private_class-id{
    position: absolute;
    height: 20px;
    top: 2500px;
}

.suggest_two-id{
    position: absolute;
    height: 20px;
    top: 2500px;
}

.footer{
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #000;
    position: absolute;
    bottom: 1;
    font-family: "Open-sans";
    padding-top: 40px;
    color: #fff;
    text-align: center;
}

.footer p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize
}

.footer p span {
    font-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width: 1550px) {
    .second{
        left: 0%;
    }
    .first{
        right: 0%;
    }
}

@media (max-width: 1315px){
    .suggest_top > h1:first-child{
        font-size: 350%;
    }
}

@media (max-width: 1200px) {
    .section-about{
        padding-top: 80px;
        padding-bottom: 80px;
        margin-top: 80px;
    }

    .section-about__text{
        padding: 0 70px 0;
    }

    .section-about__title{
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .section-about__container{
        max-width: 100%;
    }

    .suggest_head > .fas {
        width: 10%;
    }

    .adult_class div h4{
        font-size: 140%;
    }

    .social-icons > li > a > i{
        font-size: 200%;
    }

    .adult-id{
        top: 1850px;
    }

    .activity_class-id{
        top: 1850px
    }
}



@media (max-width: 1180px){
    .course_class{
        height: 350px;
    }

    h4{
        font-size: 160%;
        margin: 0;
    }

    h5{
        font-size: 100%;
    }

    .barriers div h5{
        font-size: 90%;
    }

    .adult_class div h4{
        font-size: 140%;
    }

    .activity_class div h4{
        font-size: 140%;
    }

    .suggest_two .suggest_top > h1:first-child {
        font-size: 2rem;
    }

    .suggest_two .suggest_top > h1:last-child {
        font-size: 1.5rem;
    }

    .last_h4 {
        margin-top: 0;
    }
}

@media (max-width: 1070px) {
    .headerImage{
        height: 350px;
    }

    .First_Hr{
        margin-top: 15px;
    }
}

@media (max-width: 1025px) {
    .course_class > div> h5 {
        font-size: 90%;
    }
}

@media (max-width: 943px) {
    .course_class > div> h4 {
        font-size: 150%;
    }

    .social-icons > li > a > i {
        font-size: 150%;
    }
}

@media (max-width: 900px) {
    .course_class > div> h4 {
        font-size: 150%;
    }
}

@media (max-width: 900px) {
    .section-about__text{
        font-size: 22;
    }

    .section-about{
        padding-top: 30px;
    }

}

@media (max-width: 890px) {
    .course_class > div> h4{
        font-size: 125%;
    }
}
@media (max-width: 835px) {
    .section-about{
        margin: 0;
        flex-direction: column-reverse;
        justify-content: center;
        height: 500px;
    }

    .section-about__img{
        width: 100%;
        z-index: 3;
    }

    .section-about__container{
        z-index: 4;
        justify-content: center;
        margin-top: 270px;
        width: 100%;
    }

    .section-about__content{
        padding-left: 0;
        width: 500px;
        max-width: 100%;
    }

    .section-about__text{
        color: #ffffff;
        padding: 0;
        font-size: 17px;
    }

    .section-about__title{
        color: #ffffff;
        font-size: 24px;
    }

    div.main-content{
        margin-top: 420px;
    }
}

@media (max-width: 1200px) {
    .suggest_head > .fas {
        font-size: 150%;
    }
}

@media (max-width: 770px) {
    .first{
        border-bottom: 2px solid white;
    }

    .second{
        border-bottom: 2px solid white;
    }
    .headerImage{
        border-bottom: 2px solid white;
        position: initial;
        margin-top: 57px;
        height: 100px;
    }

    .ForHr{
        display: none;
    }

    .section-about{
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid white;
    }

    .section-about__img{
        position: relative;
        border-radius: 5%;
        width: 90%;
        height: 70%;
    }

    .section-about__container{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .section-about__title{
        margin-bottom: 10px;
    }

    .about-boss{
        display: none;
    }

    .about-boss2{
        display: flex;
        background-image: url("../images/aboutBoss/Screenshot 2021-06-03 212642.png");
        align-items: flex-end;
        height: auto;
    }

    .suggest_head > span{
        font-size: 150%;
    }

    .course_class > div> h4{
        font-size: 85%;
    }

    .course_class > div> h5{
        font-size: 70%;
        width: 80%
    }

    .barriers div h5{
        font-size: 70%;
    }

    .suggest_two .suggest_top > h1:first-child{
        font-size: 18px;
    }

    .suggest__one{
        display: none;
    }

    .course_class{
        height: 250px;
        width: 100%;
    }
    .suggest_two{
        width: 100%;
    }

    .chclass-id{
        top: 890px;
    }

    .adult-id{
        top: 1120px;
    }

    .activity_class-id{
        top: 1445px;
    }

    .private_class-id {
        position: absolute;
        height: 20px;
        top: 1500px;
    }

    .suggest_two-id{
        top: 3000px;
    }

}

/*
    h1{
      -webkit-touch-callout: none; /* iOS Safari
        -webkit-user-select: none; /* Safari
         -khtml-user-select: none; /* Konqueror HTML
           -moz-user-select: none; /* Old versions of Firefox
            -ms-user-select: none; /* Internet Explorer/Edge
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox
    }
*/