{% extends 'base.html' %}

{% block title %}
<title>גלרייה א.נ.י ספורט סנטר</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css')}}">
{% endblock %}

{% block body %}
    <div class="containerr">
        {% for image in images %}
            <div class="gallery-container {{ image.width }} {{ image.height }}">
                <div class="gallery-item">
                    <div class="image">
                        <img src='{{ url_for("static", filename="images/gallery/{0}".format(image.imageName)) }}' alt="{{ image.text }}">
                    </div>
                    <div class="text">
                        image.text
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
