{% extends 'base.html' %}

{% block title %}
<title>גלרייה א.נ.י ספורט סנטר</title>
{% endblock %}

{% block body %}

<form method="POST" enctype="multipart/form-data" style="margin-top: 100px; width: 50%; margin-right: auto; margin-left: auto; direction: rtl; text-align: right;">
    <div class="mb-3">
    {{ form.csrf_token }}
        <label class="form-label">שם משתמש</label>
        {{ form.username(class_="form-control") }}
    </div>

    <div>
        <label class="form-label">סיסמה</label>
        {{ form.password(class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-dark">סיימתי</button>
</form>


{% endblock %}

