<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">O.N.Y sport center</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">דף בית</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">אודות</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            חוגים
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#chclass">חוגים לילדים</a></li>
            <li><a class="dropdown-item" href="#adult">חוגים לבוגרים</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#contact">יצירת קשר</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            פעילויות
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#activity">פעילויות לארגונים</a></li>
            <li><a class="dropdown-item" href="#private">אמונים אישיים</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#contact">יצירת קשר</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">יצירת קשר</a>
        </li>
      </ul>
    </div>
  </div>
</nav>